# Configuration file
# for the script
#
# Ubuntu version: 13.10
# 


# Scenes
[scenes]
Z820 = Calibre

# Modules
[modules]
Basic
Calibre
CUDA
Darktable
Emacs
Fonts
Gimp
Java
OpenCV_apt
OpenCV_src
Pandoc
Proxy
Python2
Python3
MATLAB
Terra
TexLive
VMPlayer

# Module Basic
[mod_Basic]
packages_development = build-essential cmake cmake-qt-gui gfortran ia32-libs 
packages_editor = vim
packages_graphics = gnuplot graphviz
packages_ime = ibus-googlepinyin
packages_indicator = indicator-cpufreq indicator-multiload
packages_multimedia = vlc x264 ffmpeg2theora oggvideotools istanbul shotwell mplayer hugin nautilus-image-converter pavucontrol ogmrip transmageddon guvcview wavpack mppenc faac flac vorbis-tools faad lame nautilus-script-audio-convert cheese sound-juicer picard arista milkytracker mypaint libdvdread4
packages_network = filezilla openssh-server vsftpd
packages_termial = tmux
packages_ubuntu-restrictive = ubuntu-restricted-extras
packages_util = dos2unix gnome-do gnome-web-photo p7zip-full shutter unrar
packages_vcs = git
packages_web = flashplugin-downloader

# Module Calibre
# Calibre is installed by a script provided by its author.
[mod_Calibre]
mid_action_calibre = python -c "import sys; py3 = sys.version_info[0] > 2; u = __import__('urllib.request' if py3 else 'urllib', fromlist=1); exec(u.urlopen('http://status.calibre-ebook.com/linux_installer').read()); main(install_dir='/opt')"

# Module CUDA
[mod_CUDA]
# deb based installation does not work for Ubuntu 13.10 at present
#repos_deb_cuda = http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1210/x86_64/cuda-repo-ubuntu1210_5.5-0_amd64.deb
#repos_pkg_cuda = 
packages_cuda = nvidia-cuda-dev nvidia-cuda-toolkit nvidia-opencl-dev

# Module Darktable
# Darktable is an open source photography workflow application and RAW developer.
[mod_Darktable]
repos_ppa_darktable = ppa:pmjdebruijn/darktable-release-plus
repos_pkg_darktable = darktable

# Module Emacs
[mod_Emacs]
dep_package_emacs = ack curl python-xlib
repos_ppa_emacs = ppa:cassou/emacs
repos_pkg_emacs = emacs24 emacs24-el emacs24-common-non-dfsg
post_action_emacs = export PRELUDE_URL="https://github.com/shiquanwang/prelude.git" && curl -L https://github.com/bbatsov/prelude/raw/master/utils/installer.sh | sh && cd ~/.emacs.d && git remote add bbatsov https://github.com/bbatsov/prelude.git

# Module Fonts
[mod_Fonts]
packages_fonts = ttf-wqy-microhei          # 文泉驿微米黑
                 ttf-wqy-zenhei            # 文泉驿正黑体
                 ttf-arphic-bkai00mp       # 文鼎PL中楷（Big5 码）
                 ttf-arphic-bsmi00lp       # 文鼎PL细上海宋（Big5 码）
                 ttf-arphic-gbsn00lp       # 文鼎PL简报宋（GB 码）
                 ttf-arphic-gkai00mp       # 文鼎PL简中楷（GB 码）
                 ttf-arphic-ukai           # 文鼎PL中楷Uni (AR PL ZenKai Uni)
                 ttf-arphic-ukai-mbe
                 ttf-arphic-uming          # 文鼎PL上海宋Uni (AR PL ShanHeiSun Uni)
                 ttf-mscorefonts-installer # microsoft core fonts
                 ttf-inconsolata           # nice mono space font
                 ttf-anonymous-pro         # nice mono space font

# Module Gimp
[mod_Gimp]
repos_ppa_gimp = ppa:otto-kesselgulasch/gimp
repos_pkg_gimp = gimp gimp-plugin-registry                           

# Module JAVA
[mod_JAVA]
repos_ppa_java = ppa:webupd8team/java
repos_pkg_java = oracle-java8-installer oracle-java8-set-default

# Module OpenCV from Ubuntu packages
[mod_OpenCV_apt]
packages_opencv = opencv-doc libopencv-dev

# Module OpenCV from source.
[mod_OpenCV_src]
download_tar_opencv = http://optimate.dl.sourceforge.net/project/opencvlibrary/opencv-unix/2.4.6.1/opencv-2.4.6.1.tar.gz

# Module Proxy
[mod_Proxy]
packages_proxy = cntlm

# Module Python2
[mod_Python2]

# Module Python3
[mod_Python3]

# Module MATLAB
[Mod_MATLAB]

# Module TeXLive
[mod_TeXLive]

# Module Terra
[mod_Terra]
repos_ppa_terra = ppa:ozcanesen/terra-terminal
repos_pkg_terra = terra

# Module VMPlayer
[mod_VMPlayer]